[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-experimental = "*"
openai = "*"
neo4j = "*"
wikipedia = "*"

[requires]
python_version = "3.11"

[dev-packages]
